body {
        font-family: 'Arial', sans-serif;
        background-color: #5B205A;
         background-image: url('/img/Shinoa.jpg');
        background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

    }
     @keyframes fadeIn {
        0% {opacity: 0;}
        100% {opacity: 1;}
    }
    .card {
        border: none;
        border-radius: 0;
        margin-bottom: 30px;
        -webkit-box-shadow: 0 0 35px 0 rgba(154, 161, 171, .15);
        box-shadow: 0 0 35px 0 rgba(154, 161, 171, .15);
        transition: all 0.3s ease;
    }

    .card .card-img-top {
        border-radius: 10px 10px 0 0;
    }

    .card:hover {
        transform: scale(1.03);
    }

    .card .card-img-top {
        border-radius: 10px 10px 0 0;
    }

    .card .card-body {
        padding: 1.25rem;
    }

    .card .card-body .card-title {
        font-size: 1.5rem;
        margin-bottom: .75rem;
        color: #343a40;
    }

    .card .card-body .card-text {
        color: #868e96;
    }
    .card .rank {
        position: absolute;
        top: 10px;
        left: 10px;
        color: white;
        font-weight: bold;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 5px;
        border-radius: 5px;
    }
    /*=============== NAV BAR ===============*/
:root{
    --header-height:3.5rem;
    --hue: 162;
    --first-color: hsl(var(--hue), 100%, 40%);
    --first-color-alt: hsl(var(--hue), 56%, 35%);
    --title-color: hsl(228, 8%, 95%);
    --text-color: hsl(228, 8%, 65%);
    --body-color: hsl(228, 15%, 20%);
    --container-color: hsl(228, 15%, 15%);

    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: "Poppins", sans-serif;
    --biggest-font-size: 2rem;
    --bigger-font-size: 1.25rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /*========== Font weight ==========*/
    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
}
.header{
    position: fixed;
    width: 100%;
    background-color: var(--container-color);
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
}

.nav{
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo  {
    color: var(--title-color);
    font-weight: var(--font-medium);
}

.nav__logo span{
    color: var(--first-color);
}

.nav__toggle,
.nav__close{
    display: flex;
    font-size: 1.25rem;
    color: var(--title-color);
    cursor: pointer;
}



@media screen and (min-width: 1023px){
    .nav__menu {
        position: fixed;
        top: 0;
        right: -100%; /* Ubah dari -100 menjadi -100% */
        background-color: hsla(0, 0%, 10%, .3);
        width: 75%;
        height: 100%;
        padding: 4.5rem 0 0 3rem;
        backdrop-filter: blur(24px);
        -webkit-backdrop-filter: blur(24px);
        transition: right .4s;
    }
}


.nav__list{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.nav__link{
    color: var(--title-color);
    font-weight: var(--font-medium);
    transition: color .4s;
}

.nav__link:hover{
    color: var(--first-color);
}

.nav__close{
    position: absolute;
    top: 1rem;
    right: 1.5rem;
}

.show-menu{
    right: 0; /* Ubah dari 0 menjadi 0% */
}
/*=============== NAV BAR ===============*/

.header{
    position: fixed;
    width: 100%;
    background-color: var(--container-color);
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
}

.nav{
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo  {
    color: var(--title-color);
    font-weight: var(--font-medium);
}

.nav__logo span{
    color: var(--first-color);
}

.nav__toggle,
.nav__close{
    display: flex;
    font-size: 1.25rem;
    color: var(--title-color);
    cursor: pointer;
}



@media screen and (min-width: 1023px){
    .nav__menu {
        position: fixed;
        top: 0;
        right: -100%; /* Ubah dari -100 menjadi -100% */
        background-color: hsla(0, 0%, 10%, .3);
        width: 75%;
        height: 100%;
        padding: 4.5rem 0 0 3rem;
        backdrop-filter: blur(24px);
        -webkit-backdrop-filter: blur(24px);
        transition: right .4s;
    }
}


.nav__list{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.nav__link{
    color: var(--title-color);
    font-weight: var(--font-medium);
    transition: color .4s;
}

.nav__link:hover{
    color: var(--first-color);
}

.nav__close{
    position: absolute;
    top: 1rem;
    right: 1.5rem;
}

.show-menu{
    right: 0; /* Ubah dari 0 menjadi 0% */
}
